.messenger {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to bottom,#e2e2e2 ,#909090);
}

.chatMenu {
  flex: 3;
  margin-left: 20px;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 5;
  margin: 1% 0 1% 0%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  background-color: #fffafa;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-top: 1px;
  /* background-color: #FFFAFA; */
  padding: 0px 10px 10px 15px;
  height: 87%;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
  flex: 4;
}

.chatMenuWrapper {
  padding: 10px;
  height: 65%;
}

.chatOnlineWrapper {
  padding: 10px;
  height: 93%;
}

.noConversationText {
  position: absolute;
  top: 44%;
  font-size: 50px;
  padding: 0 60px 0 55px;
  text-align: center;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox {
    flex: 10;
  }

  .chatOnline {
    flex: 1px;
  }
}

.chatBoxHeader {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  padding: 2%;
  display: flex;
  justify-content: center;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.chatBoxHeaderImg {
  height: 60px;
  border-radius: 50%;
}

.chatBoxHeaderTypo {
  margin: 2% 0 0 5% !important;
  font-weight: bold !important;
  font-size: larger !important;
}
