.messenger {
  height: 91vh;
  display: flex;
  margin: 40px 10px 0px 170px;
  /* background-image: linear-gradient(to bottom,#e2e2e2 ,#909090); */
}

.chatMenu {
  flex: 3;
  background-color: #1877f2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 5;
  margin: 7px 0 7px 0%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  background-color: #fdf9f9;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-top: 1px;
  /* background-color: #FFFAFA; */
  padding: 0px 10px 10px 15px;
  height: 87%;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
  flex: 4;
}

.chatMenuWrapper {
  padding: 10px 0 10px 0;
  height: 65%;
}

.chatOnlineWrapper {
  margin: 7px 0 0 0;
  height: 868px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  width: 70%;
}

.noConversationText {
  position: absolute;
  top: 44%;
  font-size: 50px;
  padding: 0 60px 0 55px;
  text-align: center;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox {
    flex: 10;
  }

  .chatOnline {
    flex: 1px;
  }
}

.chatBoxHeader {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s;
  padding: 1%;
  display: flex;
  /* justify-content: center; */
}

.chatBoxHeaderImg {
  height: 10px;
  border-radius: 50%;
  margin: 22px 0 0 30px;
}

.chatBoxHeaderTypo {
  margin: 3px 0 0 10px !important;
  font-weight: bold !important;
  font-size: 33px !important;
}
